body{
    background-color:rgb(38, 37, 37);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid-logo{
    justify-self: right;
}

#ceimos{
    color:rgb(13, 230, 13);
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom:-10px; 
}
#ceimos_caps{
    color:rgb(13, 230, 13);
    font-size:150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 25px;
}

a{
    margin: 50px;
    font-size: 300%;
    border: 20px solid beige;
    color:blanchedalmond;
}

#logo_green{
    height: 120px;
}